<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>CS455 - Homework 4</title>
    <!-- css -->
    <link href="/css/style.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- our JavaScript -->
    <script src="/js/application.js"></script>
    <script src="/js/Chart.min.js"></script>
</head>
<body>

    <!-- logo -->
    <div class="logo">
        CS455 - Flight Analysis
    </div>

    <!-- navigation -->
    <div class="navigation">
        <a href="/">home</a>
        <a href="/flight_delay_per_day_of_month">Day of Month</a>
        <a href="/flight_delay_per_day_of_week">Day of Week</a>
        <a href="/flight_delay_per_month">Month</a>
        <a href="/flight_delay_per_number_of_flights">Number of Flights</a>
        <a href="/flight_average_delay_by_reason">Average Delay by Reason</a>
        <a href="/flight_delay_reasons">Flight Delay Reasons</a>
        <a href="/airport_average_delay">Airport Average Delay</a>
        <a href="/airport_bottom50_count_delayed">Airport Bottom 50 Count Delayed</a>
        <a href="/airport_top50_count_delayed">Airport Top 50 Count Delayed</a>
        <a href="/airport_top50_percent_delayed">Airport Top 50 Percent Delayed</a>
        <a href="/dst_average_delay_per_year">DST Average Delay Per Year</a>
        <a href="/dst_percent_delay_per_year">DST Percent Delay Per Year</a>
        <a href="/tail_number_top50_average_delay">Tail Number Top 50 Average Delay</a>
        <a href="/tail_number_top50_percent">Tail Number Top 50 Percent</a>
    </div>

    <!-- main content, will be injected via Twig -->
    {% block content %} {% endblock %}

</body>
</html>