{% extends "_base.twig" %}
{% block content %}
    <div class="container">
        <h1>Flight Delay Per Number of Flights</h1>
            <div style="width:100%;height:600px;">
            <canvas id="myChart" style="width:100%;height:100%;"></canvas>
            </div>
    </div>
        <script>
var dataLabels = [];
var dataValues = [];
var dataColors = [];
$.getJSON("/data/flight_delay_per_number_of_flights.json", function(json) {
    console.log(json[0]._1); // this will show the info it in firebug console
    for(var i=0; i < json.length; i++)
    {
        dataLabels.push(json[i]._1);
        dataValues.push(json[i]._2);
        dataColors.push(getRandColor());
    }
    
    var chartOptions = {
        // Boolean - whether or not the chart should be responsive and resize when the browser does.
        responsive: true,
        // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
        maintainAspectRatio: false,
        type: 'line',
        data: {
            labels: dataLabels,
            datasets: [{
                label: '# late',
                data: dataValues,
                borderWidth: 6,
                borderColor: 'rgba(255,0,0,1)',
                fillColor:'rgba(255,0,0,.2)'
            }],
        },
        options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
    };
        var ctx = $("#myChart");
        var myChart = new Chart(ctx, chartOptions);

});

function getRandColor(){
    var rgb = [Math.random() * 256, Math.random() * 256, Math.random() * 256];
    var mixedrgb = [rgb[0], rgb[1], rgb[2]].map(function(x){ return Math.round(x/2.0)})
    return 'rgba(' + mixedrgb.join(",") + ',.5)';
}
</script>

{% endblock %}
