{% extends "_base.twig" %}
{% block content %}
    <div class="container">
        <h1>Welcome</h1>
        <p>
            Welcome to the CS455 Flight Data Analysis project.
        </p>
    </div>
{% endblock %}
