{% extends "_base.twig" %}
{% block content %}
    <div class="container">
        <h1>Welcome</h1>
        <p>
            Welcome to the CS455 Flight Data Analysis project.
        </p>

        <ul>
            <li><a href="/flight_delay_per_day_of_month">Day of Month</a></li>
            <li><a href="/flight_delay_per_day_of_week">Day of Week</a></li>
            <li><a href="/flight_delay_per_month">Month</a></li>
            <li><a href="/flight_delay_per_number_of_flights">Number of Flights</a></li>
            <li><a href="/flight_average_delay_by_reason">Average Delay by Reason</a></li>
            <li><a href="/flight_delay_reasons">Flight Delay Reasons</a></li>
            <li><a href="/airport_average_delay">Airport Average Delay</a></li>
            <li><a href="/airport_bottom50_count_delayed">Airport Bottom 50 Count Delayed</a></li>
            <li><a href="/airport_top50_count_delayed">Airport Top 50 Count Delayed</a></li>
            <li><a href="/airport_top50_percent_delayed">Airport Top 50 Percent Delayed</a></li>
            <li><a href="/dst_average_delay_per_year">DST Average Delay Per Year</a></li>
            <li><a href="/dst_percent_delay_per_year">DST Percent Delay Per Year</a></li>
            <li><a href="/tail_number_top50_average_delay">Tail Number Top 50 Average Delay</a></li>
            <li><a href="/tail_number_top50_percent">Tail Number Top 50 Percent</a></li>
            <li><a href="/aggregate_flight_cancellation_counts">Aggregate Flight Cancellation Counts</a>
            <li><a href="/cancelled_flights_vs_active_airlines">Cancelled Flights Vs Active Airlines</a>
            <li><a href="/reasons_for_cancellation">Reasons For Cancellation</a>
            <li><a href="/distance_impact">Distance Impact</a>
        </ul>
    </div>
{% endblock %}
